body {
  font-family: 'Roboto Mono', sans-serif;
  background-color: #E1D7D4; /*dark grey*/
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: 'Rubik', sans-serif;
  color: #E34E45; /*tomato red*/
  font-size: 45px;
  text-align: center;
  font-weight: 700;
}

h4 {
  font-family: 'Rubik', sans-serif;
  color: #E34E45; /*tomato red*/
  font-weight: 700;
  margin-bottom: -9px;
}

.subhead {
  text-align: center;
  margin-top: -15px;
  font-weight: 700;
}

.tables {
  background-color: white;
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 5px 10px;
  width: 305px;
  height: 305px;
}

.circle {
  /*default status: available  */
  text-align: center;
  border-radius: 40px;
  height: 75px;
  width: 75px;
  margin: 10px;
}

.circle p {
  position: relative;
  margin: 0 auto;
  top: 25px;
}

.available {
  color: #ADAAAA; /*darker grey*/
  background-color: #EEE; /*light grey*/
  cursor: pointer;
}

.reserved {
  color:#CCC;
  background-color: #ADAAAA;
  cursor: not-allowed;
}

.available:hover {
  background-color: #CCC;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 260px;
  width: 350px;
  padding: 10px 10px;
  box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
  justify-content: center;
  margin: 0 auto;
  position: relative;
  bottom: 316px;
}

form input {
  border: none;
  border-bottom: 1px solid grey;
  padding: 8px 5px;
  outline: none;
  font-family: 'Roboto Mono', sans-serif;

}

form button {
  background-color: #008000; /*green*/
  color: white;
  font-family: 'Roboto Mono', sans-serif;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
  width: 100%;
  height: 14%;
}

.material-icons {
  margin: 0px 325px;
  cursor: pointer;
}

.resInfo {
  display: none;
  background-color: #CCC;
  color: black;
  width: 80px;
  height: 49px;
  text-align: center;
  font-size: xx-small;
  border: 1px solid black;
  border-radius: 10px;
}


/*---------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  h1 {
    font-size: 55px;
  }

  .tables {
    width: 350px;
    height: 350px;
  }

  form {
    bottom: 356px;
  }

  .circle {
    margin: 15px;
  }


}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 65px;
  }

.tables {
  width: 375px;
  height: 375px;
}

.circle {
  margin: 20px;
}

}
